{% extends 'base.html.twig' %}

{% block title %}Remplir DB {% endblock %}
  {% block javascripts %} <script src="./assets/remplirDb.js" type="module"></script> 
  {% endblock %}

{% block body %}

    
    {% verbatim %}

    <main id="app">
<h2> {{ statutPost }}</h2>
    </main>
    {% endverbatim %}

  
{% endblock %}